div.list {
    margin: 15px;
    border: 1px solid #243b39;
    padding: 15px;
    background-color: white;
    text-align: left;

}

.link a {
    text-decoration: none;
    padding-left: 8px;
    color: #3293f6;
}

.link a:hover {
    color: #06b4b4;
}

.link a:visited {
    color: gray;
}