.button {
    background-color: #243b39;
    color: aliceblue;
    padding: 10px;
    border: 1px solid #243b39;
}

.button:active {
    background-color: #035959;
}

.input {
    display: inline-block;
    border: 1px solid #243b39;
    padding: 10px;
    width: 35%;
}

.input:focus {
    outline: none;
    border-color: #10c4c4;
    background-color: #fafdfd;
}



