.button {
    background-color: #243b39;
    color: aliceblue;
    padding: 10px;
    border: 1px solid #243b39;
}

.button:active {
    background-color: #035959;
}

.input {
    display: inline-block;
    border: 1px solid #243b39;
    padding: 10px;
    width: 35%;
}

.input:focus {
    outline: none;
    border-color: #10c4c4;
    background-color: #fafdfd;
}

button.clearInp {
    margin-left: -50px;
    margin-right: 10px;
    background-color: #fafdfd;
    border: none;
    color: #10c4c4;

}

[data-hint] {
    position: relative;
}

[data-hint]::after {
    opacity: 0;
    width: max-content;
    color: #FFFFFF;
    background-color: rgba(0,0,0,.7);
    border-radius: 6px;
    padding: 10px;
    content: attr(data-hint);
    font-size: 12px;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -100%);
    pointer-events: none;
    transition: opacity 0.2s;
}

[data-hint]:hover::after {
    opacity: 1;
}



.hintBottom::after {
    top: auto;
    bottom: -5px;
    transform: translate(-50%, 100%);
}